<div id="account-overview" v-cloak>
  <div class="container">
    <div class="jumbotron jumbostyle">
      <h1>My account</h1>
      <hr />
      <div class="row mb-3">
        <div class="col-sm-6">
          <h4>Personal information</h4>
        </div>
        <div class="col-sm-6">
          <span class="float-sm-right">
            <a class="btn btn-sm btn-primary account-settings-button" href="/account/profile">Edit &raquo;</a>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-3">Name:</div>
        <div class="col"><strong>{{me.fullName}}</strong></div>
      </div>
      <div class="row">
        <div class="col-3">Email:</div>
        <div class="col">
          <strong :class="[me.emailStatus === 'unconfirmed' || me.emailStatus === 'changeRequested' ? 'text-muted' : '']">{{me.emailChangeCandidate
            ? me.emailChangeCandidate : me.emailAddress}}</strong>
          <span v-if="me.emailStatus === 'unconfirmed' || me.emailStatus === 'changeRequested'" class="badge badge-pill badge-warning">Unverified</span>
        </div>
      </div>
      <hr />

      <div class="row mb-3">
        <div class="col-sm-6">
          <h4>Password</h4>
        </div>
        <div class="col-sm-6">
          <span class="float-sm-right">
            <a class="btn btn-sm btn-primary account-settings-button" href="/account/password">Change &raquo;</a>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-3">Password:</div>
        <div class="col"><strong>••••••••••</strong></div>
      </div>
      <hr />

      <div class="row mb-3">
        <div class="col-sm-6">
          <h4>Website Styles</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          Home Background
        </div>
        <div class="col">
          <form action="/account/admin/changeStyle/background_home" method="post" enctype="multipart/form-data" id="back_form">
            <input type="file" name="file" id="file">
            <span class="float-sm-right">
              <button type="submit" id="change_home" class="btn btn-sm btn-primary account-settings-button">Apply
                &raquo;</button>
            </span>
          </form>
        </div>
      </div>

      <br>
      <br>

      <div class="row">
        <div class="col-3">
          Site Background
        </div>
        <div class="col">
          <form action="/account/admin/changeStyle/background_site" method="post" enctype="multipart/form-data" id="back_form">
            <input type="file" name="file" id="file">
            <span class="float-sm-right">
              <button type="submit" id="change_site" class="btn btn-sm btn-primary account-settings-button">Apply
                &raquo;</button>
            </span>
          </form>
        </div>
      </div>

      <br>
      <br>

      <div class="row">
        <div class="col-3">
          Footer Logo
        </div>
        <div class="col">

          
          <form action="/account/admin/changeStyle/Logo" method="post" enctype="multipart/form-data" id="back_form">
            <input type="file" name="file" id="file">
            <span class="float-sm-right">
              <button type="submit" id="change_logo" class="btn btn-sm btn-primary account-settings-button">Apply
                &raquo;</button>
            </span>

          </form>
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
