<div class="jumbostyle jumbo-keys">
  <h2>Word template keys</h2>

  <div id="keys_container" class="keys-container">
    <label class="key-label">
      <span>Flight number</span>
      <input type="text" class="key-input" name="FlightNumber">
    </label>

    <label class="key-label">
      <span>Number of points (digit)</span>
      <input type="text" class="key-input" name="NumberOfPoints_Digit">
    </label>

    <label class="key-label">
      <span>Number of points (letter)</span>
      <input type="text" class="key-input" name="NumberOfPoints_Letter">
    </label>

    <label class="key-label">
      <span>Flight date</span n>
      <input type="text" class="key-input" name="FlightDate">
    </label>

    <label class="key-label">
      <span>Fuel flowmeters</span>
      <input type="text" class="key-input" name="Fuel_Flowmeters">
    </label>

    <label class="key-label">
      <span>Fuel characteristics</span>
      <input type="text" class="key-input" name="Fuel_Characteristics">
    </label>

    <label class="key-label">
      <span>FLHV value</span>
      <input type="text" class="key-input" name="FLHV_Value">
    </label>

    <label class="key-label">
      <span>Weighing</span>
      <input type="text" class="key-input" name="Weighing">
    </label>

    <label class="key-label">
      <span>DSR average</span>
      <input type="text" class="key-input" name="DSR_Average">
    </label>
  </div>

  <button id="apply_keys_changes" class="btn btn-primary">Apply changes</button>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
