<div id="upload" class="container">
    <!-- Create cilumn with a fixed width -->
    <div class="w-100"></div>
    <form action="/account/file/upload" method="post" enctype="multipart/form-data">
    <%
    <!-- Create an input form for each field defined in the FileController-->
    for(var i=0; i < fields.length; i++){%>
        <div class="row pt-3">
            <div class="col">
                Select File for <%=fields[i]%>
            </div>
            <div class="col">
                <input type="file" name="file" class = "btn btn-outline-primary" field="<%=fields[i]%>" extra="<%=fields[i]%>" multiple>
            </div>
        </div>
    <%}%>
    <!-- Draw a Line -->
    <hr/>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <input type="submit" class = "btn btn-outline-primary" value="Upload Choosen Data" name="submit">
        </div>
    </div>
    </form>
</div>
