<body>
<div class="container-fluid">
<div class="jumbotron">
    
<div class="container-fluid ">
<h1 class="display-4">Uploaded Files</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Path</th> 
            <th>Aircraft</th>
            <th>Doc</th>
        </tr>
    </thead>
    <tbody>
     
        <% result.forEach(function(file){ %>

            <tr>
                <td><%= file.filename %></td>

                <td><%= file.path %></td>

                <td><%= file.aircraft %></td>

                <td><%= file.doc %></td>

            </tr>
       <% }) %>
    </tbody>
</table>


</div>

</div>
</div>
</body>
