<body>
    <div class="container-fluid">
        <div class="jumbotron">

            <div class="container-fluid ">
                <h1 class="display-4">Uploaded Files</h1>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Path</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% result.forEach(function(file){ %>

                        <tr>
                            <td>
                                <%= file.id %>
                            </td>

                            <td>
                                <%= file.entry %>
                            </td>


                        </tr>
                        <% }) %>
                    </tbody>
                </table>


            </div>

        </div>
    </div>




</body>