<body class="dash">
  <div class="container-fluid">
    <div class="jumbotron jumbostyle">
      <br>
      <% if (search == true) { %>
      <h3>Search results for
        <%=email%>
      </h3>
      <% if (result[0] == undefined) { %>
      <h5 style="text-decoration: underline;">No results found</h5>
      <% } %>
      <% } else {%>
      <h1 class="display4">Pending Requests</h1>
      <% } %>
      <br>
      <% if (result[0] !== undefined) { %>
      <table class="table table-striped display" id="example">
        <thead style="background-color: #bfd6f0;">
          <tr>
            <th>Name</th>
            <th width="300">Email</th>
            <th class="text-center">Admin</th>
            <th class="text-center">Basic</th>
            <th class="text-center">
              <% if (search == true) { %>
              Revoke access
              <% } %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% result.forEach(function(item){ %>
          <tr id="<%= item.id %>">

            <td>
              <%= item.fullName %>
            </td>
            <td>
              <%= item.emailAddress %>
            </td>
            <td class="text-center">
              <% if(item.isSuperAdmin) { %>
              <span class="dot"></span>
              <%}%>
            </td>
            <td class="text-center">
              <% if(item.isBasicUser) { %>
              <span class="dot"></span>
              <%}%>
            </td>

            <td class="text-center">

              <% if (search == true) { %>
              <button id="reject" type="submit"><i class="fa fa-user-times fa-lg" style="color:rgb(240, 99, 99)"></i></button>

              <% }  else {%>

              <button id="accept" type="submit"><i class="fa fa-user-plus fa-lg" style="color:#64aeda"></i></button>
              <button id="reject" type="submit"><i class="fa fa-user-times fa-lg" style="color:rgb(240, 99, 99)"></i></button>
            </td>
            <%} %>

          </tr>
          <% }) %>
        </tbody>
      </table>
      <% } %>
      </form>
      <br>
      <div class="row">
        <!-- Search column -->
        <div class="col-md-6">
          <h4 style="color: #2e3338;">Search for a user</h4>

          <form name="form" id="form" method="post" action="/account/admin/search">
            <input type="email" placeholder="Search by Email" name="user">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
    </div>
</body>
