<div class="container-fluid space">
    <div class="jumbotron">

<h1 class="display-5">Analysis of aircraft  <%= result[0].aircraft %> </h1>

<body>
<div class="container">
<table class="table table-striped text-center">
        
    <thead>
            
        <tr>
            <% result.forEach(function(item){ %>
            <th><%= item.doc %></th>
            <% }) %>
        </tr>
       
    </thead>

    <tbody>            
            <tr>
            <% result.forEach(function(item){ %>                           
            <td>  
                <a href="#"> <%= item.path %> </a>
            </td>
            <% }) %>            
            </tr>  
       
    </tbody>
</table>
</div> 
</body>
</div>
</div>