<body>

<div class="container-fluid space">
    <div class="jumbotron">

<h1 class="display-5">Showing results for MSN:  <%= msn %> </h1>


<div class="container">

    <% if (result[0] !== undefined) { %>

        <table class="table table-striped text-center">
        
    <thead>
            
        <tr>
            <% result.forEach(function(item){ %>
            <th><%= item.doc %></th>
            <% }) %> 
        </tr>
       
    </thead>

    <tbody>             
            <tr>
            <% result.forEach(function(item){ %>                           
            <td>  
                <a href="/account/file/download/<%= item.id %>"> <%= item.filename %> </a>
            </td>
            <% }) %>            
            </tr>  
       
    </tbody>
</table>

</div>


</div>


</div>

</body>

<% } else { %>
<br>
    <p style="text-decoration: underline;">No records found</p>

<% } %>