<div id="contact">
  <div class="container pt-5 mt-5">
    <h1 class="text-center">Sign Up</h1>
    <div>
      <p class="text-center">You want to sign up? Send us a mail at <a href='<%="mailto:"+sails.config.custom.internalEmailAddress%>'>this adress</a></p>
      <hr />
    </div>
  </div>
</div>