<body>
    <div class="container-fluid">
    <main role="main">
        <!-- Main jumbotron -->
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3 space">Hello,
                    <%= me.fullName %>
                </h1>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                    massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                    quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                <p><a class="btn btn-primary btn-lg" href="/table" role="button">View all aircrafts &raquo;</a></p>
            </div>
        </div>

        <div class="container">
            <!-- Row of columns -->
            <div class="row">
                <!-- Search column -->
                <div class="col-md-6">
                    <h2>Search</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,
                        tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
                        malesuada magna mollis euismod. Donec sed odio dui. </p>

                        <form method="post" action="/account/file/search">
                            <input type="text" placeholder="Search by MSN" name="msn">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                </div>

                <!--File Upload column-->
                <%if(me.isSuperAdmin || me.isBasicUser){%>
                <div class="col-md-6">
                    <h2>Upload analysis files</h2>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,
                        tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
                        malesuada magna mollis euismod. Donec sed odio dui. </p>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter">
                        Upload &raquo;
                    </button>
                    <!-- Modal -->
                    <%- include ../upload-modal.ejs %>
                </div>
                <%}%>

            </div>
            <hr>
        </div> <!-- /container -->
    </main>
</div>
</body>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>