

    <!-- Start About Section -->
    <div id="about">
    
        <div class="jumbotron">
                
            <h3 class="heading">Dashboard</h3>
        <div class="row">
            <div class="col-md-6 text-center">

                <h4>Title</h4>
                <p>This is a paragraph</p>


            </div>
           

            <div class="col-md-6 text-center">


                <h4>Title</h4>
                <p>This is a paragraph</p>


            </div>
        
    </div><!--End Row-->
    </div><!--End Jumbotron-->
    </div><!-- End About Section -->

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>