
<!-- Start Landing Page-->
  <div class="home-wrap">
      <div class="home-inner">
      </div>
  </div>
 
<!-- Start Landing Page Caption -->
<div class="caption center-block text-center">
  <h3>Aircraft Tracking</h3>
  <a class="btn btn-outline-light" href="/login">Get started</a>
</div>


<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
