
<!-- Start Landing Page Caption -->
  <a class="btn btn-outline-light" href="/login">Get started</a>

<%- include IE-modal.ejs %>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
