<!-- Start Landing Page-->
<div class="landing">
    <div class="home-wrap">
        <div class="home-inner">
        </div>
    </div>
</div>

<!-- Start Landing Page Caption -->
<div class="caption center-block text-center">
    <h3>Aircraft Tracking</h3>
    <a class="btn btn-outline-light" href="/login">Get started</a>
</div>

<!-- Start About Section -->
<div id="about">

    <div class="jumbotron">

        <div class="row">
            <div class="col-md-4 text-center">
                <h4>Search</h4>
                <p>We present a platform for users to easily keep track of their aircafts performance in test flights. </p>
            </div>
            <div class="col-md-4 text-center">
                <h4>Manage</h4>
                <p>Users with special rights may upload the corresponding documents for each flight after the analysis has been done.</p>
            </div>
            <div class="col-md-4 text-center">
                <h4>Real time results</h4>
                <p>The results for each aircraft will be displayed along side with a status indicating if these are final and validated.</p>
            </div>

        </div>
        <!--End Row-->
    </div>
    <!--End Jumbotron-->
</div><!-- End About Section -->
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>