<div class="modal fade " id="IE" role="dialog">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <div class="text-center">
                    <i id="check" style="color:orangered; cursor: pointer;" class="fa fa-exclamation-triangle fa-3x"></i>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-center">

                        <h4 class="modal-title" id="exampleModalCenterTitle">For best user experience, it is
                            recommended to use <br>
                            <strong style="color:green;">Google Chrome</strong> or <strong style="color:rgb(255, 123, 0);">Mozilla
                                Firefox</strong> <br> as web browser.</h4>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="#closeButton">Dismiss</button>
            </div>
        </div>
    </div>
</div>