<div class="modal fade" id="IE" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="border" role="document">
        <div class="modal-content modal-body">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"> 
                <div class="row">
                    <div class="col-md-12 text-center">

                        <h4 class="modal-title" id="exampleModalCenterTitle">For best user experience, it is
                            recommended to use <br>
                            <strong style="color:green;">Google Chrome</strong> or <strong style="color:orange;">Mozilla
                                Firefox</strong> <br> as web browser.</h4>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="#closeButton">Dismiss</button>
            </div>
        </div>
    </div>
</div>