<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-body">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Select the files you wish to
                upload</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">

            <form action="/account/file/upload" method="post" enctype="multipart/form-data" id="files">
                <input type="file" name="file" id="file" multiple>
            </form>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" form="files" class="btn btn-primary">Save changes &raquo;</button>
        </div>
    </div>
</div>
</div> 
