<!-- Better use d-flex ? -->
<div class="table-responsive">
<table id="available-data" class="display">
    <!-- HEADERS -->
    <thead class="table-dark"> 
    <tr>
    <% for(var i=0; i < headers.length; i++){ %>
        <th scope="col" data-sortable="true" style ="width: auto !important"><%=headers[i]%></th>
    <%}%>
      </tr>
    </thead>
    <!-- BODY -->
    <tbody>
    <% for(var j=0; j < data.length; j++){ %>
      <!-- TODO Put some color when status is not avaible-->
      <tr>
      <% for(var i=0; i < headers.length; i++){%>
        <th scope="col" style ="width: auto !important"><%=data[j][headers[i]]%></th><%}%>
      </tr>
    <%}%>
    </tbody>
</table>
</div>