<div class="table-container">
<table class="table table-hover table-striped" id="available-data" style="width:100%">
    <thead class="table-dark"> 
    <tr>
    <% for(var i=0; i < headers.length; i++){ %>
        <th scope="col" data-sortable="true"><%=headers[i]%></th>
    <%}%>
      </tr>
    </thead>
    <tbody>
    <% for(var j=0; j < data.length; j++){ %>
      <!-- TODO Put some color when status bla bla is not avaible-->
      <tr>
      <% for(var i=0; i < headers.length; i++){%>
        <th scope="col"><%=data[j][headers[i]]%></th><%}%>
      </tr>
    <%}%>
    </tbody>
</table>
</div>