<!-- Better use d-flex ? -->
<div class="jumbotron" style="min-height: 100%;min-height: 100vh; display: flex; align-items: center">
<div class="table-responsive">
<table id="available-data" class="display">
    <!-- HEADERS -->
    <thead class="table-dark"> 
    <tr>
    <% for(var i=0; i < headers.length; i++){ %>
        <th scope="col" data-sortable="true" style ="width: auto !important"><%=headers[i]%></th>
    <%}%>
      </tr>
    </thead>
    <!-- BODY -->
    <tbody>
    <% for(var j=0; j < data.length; j++){ %>
      <tr>
      <% for(var i=0; i < headers.length; i++){%>
      <% var pdfHeaders = Data.pdfFields();%> 
         <% if(pdfHeaders.indexOf(headers[i]) !== -1){%>
           <th scope="col" style ="width: auto !important"><%-data[j][headers[i]]%></th>
           <%}
            else{%>
            <th scope="col" style ="width: auto !important"><%=data[j][headers[i]]%></th>
             <%} %>
           <%}%>
      </tr>
    <%}%>
    </tbody>
</table>
</div>
</div>
