<!-- Edit Modal -->
<div class="modal fade" id="commentaryModal" tabindex="-1" role="dialog" aria-labelledby="commentaryModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentaryModalCenterTitle">Edit your commentary</h5>
      </div>
      <hr>
      <div class="modal-body">
        <!--    Begin Modal Body -->

          <div class="input-group">

            <textarea id="commentaryText" class="form-control" aria-label="With textarea"></textarea>

          </div>


          <div class="modal-footer">
            <button type="button" id="closeComment" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" form="edit" id="comment" class="btn btn-primary">Save changes &raquo;</button>
          </div>
 

      </div>

    </div>
  </div>
</div>
