<!-- Edit Modal -->
<div class="modal fade" id="commentaryModal" tabindex="-1" role="dialog" aria-labelledby="commentaryModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-body">
      <div class="modal-header">
        <h5 class="modal-title" id="commentaryModalCenterTitle">Add your commentary</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--    Begin Modal Body -->

        <form action="/" name="edit" method="post" enctype="multipart/form-data" id="edit">

          <div class="input-group">

            <textarea class="form-control" aria-label="With textarea"></textarea>
          </div>


          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" form="edit" class="btn btn-primary">Save changes &raquo;</button>
          </div>

        </form>

      </div>

    </div>
  </div>
</div>
